{% extends 'base.html' %}

{% block header %}
<div class="alert alert-primary" role="alert">
    <h3>詳細ページ</h3>
</div>
{% endblock header %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <div class="alert alert-dark" role="alert">
        <p>タイトル：{{ user_object.title }}</p>
        <p>投稿者：{{ user_object.author }}</p>
        <!-- renderで返されるオブジェクト名.イメージの格納しているフィールド名.url、でイメージのurlを取得できる -->
        <p><img src="{{ detail_object.sns_image.url }}" alt=""></p>
        <a href="{% url 'good' detail_object.pk %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">いいねする</a>
        <a href="{% url 'read' detail_object.pk %}" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">既読</a>
    </div>
    <a href="{% url 'logout' %}" >ログアウト</a>

</div>
{% else %}
ログインしてください
{% endif %}
{% endblock content %}
